//
// FONT SIZING
//
// _font-sizes.scss

/* Headers and paragraph */
@mixin font-prop($point) {
  color: $mhn-text;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  margin: 0;

  @if $point == h1 {
    font-size: 32px;
    font-weight: $font-weight-normal;
    line-height: 40px;
    margin-bottom: 1rem;
    padding-bottom: 0;

    @include breakpoint(sm) {
      font-size: fluidProp(32px, 48px);
      line-height: fluidProp(40px, 64px);
    }
  }

  @if $point == h2 {
    font-size: 24px;
    font-weight: $font-weight-normal;
    line-height: 32px;
    margin-bottom: 0.5rem;

    @include breakpoint(sm) {
      font-size: fluidProp(24px, 40px);
      line-height: fluidProp(32px, 56px);
    }
  }

  @if $point == h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 0.5rem;

    @include breakpoint(sm) {
      font-size: fluidProp(24px, 32px);
      line-height: fluidProp(32px, 40px);
    }
  }

  @if $point == h4 {
    font-size: 22px;
    font-weight: $font-weight-bold;
    line-height: 30px;
    margin-bottom: 0.5rem;

    @include breakpoint(sm) {
      font-size: fluidProp(22px, 24px);
      line-height: fluidProp(30px, 32px);
    }
  }

  @if $point == h5 {
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 18px;
    margin-bottom: 0.5rem;

    @include breakpoint(sm) {
      font-size: fluidProp(22px, 24px);
      line-height: fluidProp(30px, 32px);
    }
  }

  @if $point == p {
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 26px;
    margin-bottom: 1rem;

    @include breakpoint(sm) {
      font-size: fluidProp(16px, 18px);
      line-height: fluidProp(26px, 28px);
    }
  }

  @if $point == tagline {
    font-size: 14px;
    font-weight: $font-weight-light;
    line-height: 20px;
    margin-bottom: 0.25rem;

    @include breakpoint(sm) {
      font-size: fluidProp(14px, 14px);
      line-height: fluidProp(20px, 20px);
    }
  }

  @if $point == a {
    font-size: 18px;
    font-weight: $font-weight-light;
    color: $mhn-link;

    @include breakpoint(sm) {
      font-size: fluidProp(18px, 18px);
      line-height: fluidProp(26px, 26px);
    }

    &:hover {
      color: inherit;
    }
  }

  @if $point == li {
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 26px;

    @include breakpoint(sm) {
      font-size: fluidProp(16px, 18px);
      line-height: fluidProp(26px, 28px);
    }
  }
}